.single-data_deposit {

    h4 {
        margin-bottom: 20px;
    }

    .data-deposit-header {
        @include flex($flex-direction: column);

        @media (min-width: $screen-sm-min) {
            @include flex($flex-direction: row, $align-items: flex-start);
        }

        .data-deposit-main {
            flex-basis: 70%;
            margin: 0 0 40px 0;
            padding: 0 0 40px 0;
            border-bottom: 1px solid $black;

            @media (min-width: $screen-sm-min) {
                margin: 0 40px 0 0;
                padding: 0 40px 0 0;
                border-bottom: 0;
                border-right: 1px solid $black;
            }


            .data-deposit-title {
                margin-bottom: 10px;
            }

            .data-deposit-summary {
                margin-top: 40px;
            }

        }

        .data-deposit-info {
            flex-basis: 30%;

            span {
                display: block;
            }

        }

    }

    .data-deposit-download {

        .download-box {
            margin-bottom: 40px;

            .download-box-header {
                @include flex(row, $align-items: center)
                padding: 15px 30px;
                color: $white;
                background: $brand-primary;
                font-size: 20px;


                .header-meta {
                    flex: 2 0 0;

                    h3 {
                        color: $white;
                        margin: 0;

                        .small {
                            color: $white;
                            padding-left: 10px;
                        }

                    }

                }

                .header-actions {
                    flex: 1 0 0;
                    text-align: right;
                    margin-right: 30px;
                }

                .accordion-toggle:after {
                    font-family: 'Glyphicons Halflings';
                    content: "\e253";
                    float: right;
                    color: $white;
                }

                .accordion-toggle.collapsed:after {
                    content: "\e252";
                }

            }

            .download-box-body {
                padding: 20px;

                @media (min-width: $screen-sm-min) {
                    padding: 30px 50px;
                }

                .data-set-files-wrapper {
                    @include flex($flex-direction: column, $justify-content: flex-start);
                    margin: 60px 0;
                    border-bottom: 1px solid $black;

                    @media (min-width: $screen-sm-min) {
                        // @include flex($flex-direction: row, $justify-content: flex-start);
                    }


                    a,
                    p {
                        margin-bottom: 10px;
                    }

                    .data-set-files {
                        @include flex($flex-direction: column, $justify-content: flex-start);
                        margin-bottom: 30px;

                        @media (min-width: $screen-sm-min) {
                            @include flex($flex-direction: row, $justify-content: flex-start, $align-items: center);
                        }

                    }

                    .data-set-file-meta {
                        @include flex($flex-direction: column, $justify-content: flex-start, $align-items: flex-start);
                        margin-bottom: 20px;

                        @media (min-width: $screen-sm-min) {
                            margin: 0 40px 0 0;
                        }

                        .data-set-file-name {
                            font-size: 16px;
                            font-weight: bold;
                        }

                        .data-set-file-name,
                        .data-set-file-url {
                            width: 200px;
                            word-wrap: break-word;
                        }

                    }

                    .data-set-file-download {

                        .file-download {
                            margin-top: auto;
                        }

                    }

                }

                .data-set-media-files-wrapper {
                    @include flex($flex-direction: column, $justify-content: flex-start);
                    margin: 60px 0 0 0;

                    a,
                    p {
                        margin-bottom: 10px;
                    }

                    .data-set-media-file {
                        @include flex($flex-direction: column, $justify-content: flex-start, $align-items: flex-start);
                        margin-bottom: 40px;
                        padding: 0 0 30px 0px;

                        @media (min-width: $screen-sm-min) {
                            margin-right: 40px;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }

                        // .media-file {
                        //     position: relative;
                        //     padding-left: 60px;
                        //
                        //     .media-format-icon {
                        //         position: absolute;
                        //         top: 0;
                        //         left: 0;
                        //         width: 50px;
                        //     }
                        //
                        // }

                        .media-file {
                            @include flex($align-items: center);

                            .media-format-icon {
                                width: 35px;
                                margin-right: 10px;
                            }

                            a {
                                margin-bottom: 0;
                            }

                        }

                    }

                }

            }

        }

    }

    .data-deposit-footer {

        .data-deposit-related-pubs {
            margin-bottom: 40px;
        }

    }

}
