.btn {
    padding: 8px 25px;
    border-radius: 0;
}

.btn-primary:hover {
    background-color: $brand-primary-hover;
}

.navbar-default .navbar-nav>li>a[role="button"] {
    color: $white;

    &:hover,
    &:active,
    &:focus {
        background-color: $brand-primary-hover;
    }

}
