@mixin flex($flex-direction: row, $flex-wrap: nowrap, $justify-content: space-between, $align-items: stretch) {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}
