body {

    &.login {
        background: url('../images/login-bg-red.jpg') no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        margin: 0;

        #login {
            background: $white;
            padding: 0;
        }

        h1 {
            background: $white;
            padding: 20px 0;

            a {
                height: 34px;
                margin-bottom: 0;
            }

        }

        form {
            margin-top: 0;
            box-shadow: none;
        }

    }

}
