<!doctype html>

<html {{ function('language_attributes') }}>

    {% include 'templates/global/head.twig' %}

    <body {{ function('body_class') }}>

        {% include 'templates/global/header.twig' %}

        {% include 'templates/global/hero.twig' %}

        <div class="wrap container-fluid" role="document">
            <div class="content row">
                {% block content %}{% endblock %}
            </div>
        </div>

        {% include 'templates/global/footer.twig' %}

    </body>

    <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-35855679-3', 'auto');
         ga('send', 'pageview');
    </script>

</html>
