{% block sidebar %}

    <section>
        <h2>Connect</h2>

        <div class="social-icons">
            <div class="social-icon-images">
                <a href="https://twitter.com/CEL_Elon">
                    <img src="http://local.wordpress.dev/wp-content/themes/sage/assets/images/social-icons/social_icons-twitter.png" alt="Twitter" />
                </a>
            </div>
            <div class="social-icon-images">
                <a href="https://www.facebook.com/centerforengagedlearningatelon">
                    <img src="http://local.wordpress.dev/wp-content/themes/sage/assets/images/social-icons/social_icons-facebook.png" alt="Facebook" />
                </a>
            </div>
            <div class="social-icon-images">
                <a href="https://www.youtube.com/user/CELatElon">
                    <img src="http://local.wordpress.dev/wp-content/themes/sage/assets/images/social-icons/social_icons-youtube.png" alt="YouTube" />
                </a>
            </div>
            <div class="social-icon-images">
                <a href="mailto:jmoore28@elon.edu">
                    <img src="http://local.wordpress.dev/wp-content/themes/sage/assets/images/social-icons/social_icons-email.png" alt="Email" />
                </a>
            </div>
        </div>

    </section>

    {# TODO integrate Elons email list form #}
    {{sidebar_primary}}

{% endblock %}
